* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v1_165 {
  width: 100%;
  height: 4163px;
  background: rgba(243,243,242,1);
  margin: 10px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v1_663 {
  width: 100%;
  height: 4163px;
  background: url("../images/v1_663.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v1_407 {
  width: 100%;
  height: 1045px;
  background: rgba(255,255,255,1);
  padding: 130px 100px;
  margin: 60px;
  opacity: 1;
  position: absolute;
  top: 89px;
  left: 0px;
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;
  overflow: hidden;
}
.v1_168 {
  width: 1000px;
  height: 405px;
  background: url("../images/v1_168.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 40px;
  opacity: 1;
  position: absolute;
  top: 130px;
  left: 100px;
  overflow: hidden;
}
.v1_169 {
  width: 100px;
  height: 100px;
  background: url("../images/v1_169.png");
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v1_170 {
  width: 1000px;
  height: 183px;
  background: url("../images/v1_170.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 40px;
  opacity: 1;
  position: absolute;
  top: 140px;
  left: 0px;
  overflow: hidden;
}
.v1_171 {
  width: 1000px;
  color: rgba(42,42,40,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 55px;
  opacity: 1;
  text-align: left;
}
.v1_172 {
  width: 207px;
  height: 42px;
  background: url("../images/v1_172.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 13px;
  opacity: 1;
  position: absolute;
  top: 363px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v34_97 {
  width: 1000px;
  height: 300px;
  background: url("../images/v34_97.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 595px;
  left: 100px;
  overflow: hidden;
}
.v34_98 {
  width: 399px;
  height: 300px;
  background: url("../images/v34_98.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
  border-bottom-left-radius: 13px;
  border-bottom-right-radius: 13px;
  overflow: hidden;
}
.v34_99 {
  width: 400px;
  height: 300px;
  background: url("../images/v34_99.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 409px;
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
  border-bottom-left-radius: 13px;
  border-bottom-right-radius: 13px;
  overflow: hidden;
}
.v34_100 {
  width: 400px;
  height: 300px;
  background: url("../images/v34_100.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 819px;
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
  border-bottom-left-radius: 13px;
  border-bottom-right-radius: 13px;
  overflow: hidden;
}
.v3_722 {
  width: 100%;
  height: 947px;
  background: url("../images/v3_722.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 60px 100px;
  margin: 60px;
  opacity: 1;
  position: absolute;
  top: 1134px;
  left: 0px;
  overflow: hidden;
}
.v3_723 {
  width: 550px;
  height: 145px;
  background: url("../images/v3_723.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 19px;
  opacity: 1;
  position: absolute;
  top: 60px;
  left: 100px;
  overflow: hidden;
}
.v3_724 {
  width: 417px;
  color: rgba(0,0,0,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Manrope;
  font-weight: Medium;
  font-size: 50px;
  opacity: 1;
  text-align: left;
}
.v3_725 {
  width: 550px;
  color: rgba(75,77,89,1);
  position: absolute;
  top: 87px;
  left: 0px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v3_726 {
  width: 1000px;
  height: 582px;
  background: url("../images/v3_726.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 20px;
  opacity: 1;
  position: absolute;
  top: 265px;
  left: 100px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v3_757 {
  width: 100%;
  height: 521px;
  background: url("../images/v3_757.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2081px;
  left: 0px;
  overflow: hidden;
}
.v3_758 {
  width: 600px;
  height: 521px;
  background: rgba(42,42,40,1);
  padding: 92px 100px;
  margin: 10px;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v3_759 {
  width: 400px;
  height: 242px;
  background: url("../images/v3_759.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 19px;
  opacity: 1;
  position: absolute;
  top: 139px;
  left: 100px;
  overflow: hidden;
}
.v3_760 {
  width: 400px;
  color: rgba(255,255,255,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Manrope;
  font-weight: Medium;
  font-size: 50px;
  opacity: 1;
  text-align: left;
}
.v3_761 {
  width: 400px;
  color: rgba(243,243,242,1);
  position: absolute;
  top: 155px;
  left: 0px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v3_762 {
  width: 600px;
  height: 521px;
  background: url("../images/v3_762.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 600px;
  overflow: hidden;
}
.v3_830 {
  width: 100%;
  height: 925px;
  background: url("../images/v3_830.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2602px;
  left: 0px;
  overflow: hidden;
}
.v3_831 {
  width: 513px;
  height: 145px;
  background: url("../images/v3_831.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 19px;
  opacity: 1;
  position: absolute;
  top: 74px;
  left: 87px;
  overflow: hidden;
}
.v3_832 {
  width: 383px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Manrope;
  font-weight: Medium;
  font-size: 50px;
  opacity: 1;
  text-align: left;
}
.v3_833 {
  width: 513px;
  color: rgba(75,77,89,1);
  position: absolute;
  top: 87px;
  left: 0px;
  font-family: Manrope;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v3_834 {
  width: 100%;
  height: 511px;
  background: url("../images/v3_834.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 30px;
  opacity: 1;
  position: absolute;
  top: 295px;
  left: 88px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
